html {
  --el-font-size-base: 16px;
}

body {
  margin: 0;
}

button:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.collapse-customize {
  --el-collapse-header-font-size: 16px !important;
  --el-collapse-content-font-size: 14px !important;
}
