/* Basic */
@import './base.css';
@import './helpers.css';
/* Components */
@import './components/task-preview.css';
@import './components/task-actions.css';
/* Views */
@import './views/task-edit.css';

/* Layout */
.main-layout {
  max-width: 1440px;
  margin-inline: auto;
  padding: 10px 20px;
}
