@import './base.css';
@import './helpers.css';

.main-layout {
  max-width: 1440px;
  margin-inline: auto;
}

.task-preview {
  position: relative;
  margin-inline: 40px;
}

.task-preview h6 {
  margin: 0;
}

.task-preview .delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.task-edit {
  max-width: 800px;
  margin-inline: auto;
  margin-block: 100px;
}